<h1>Crear Pregunta Escala Likert</h1>

<form>
  Nombre pregunta:<br>
  <input type="text" name="nombrePregunta">
  <br>
  Pregunta:<br>
  <textarea class="form-control" rows="5" name="pregunta"></textarea>
  <br><br>
  <input type="button" value="Volver" onClick="history.go(-1);return true;">
  <input type="submit" value="Editar"> 
</form>