<% include header %>

<div class="row row-centered">
  <div align= "center">

      <h3> ¿Qué desea hacer ahora?</h3>

<br><br><br><br><br><br>

      <a  href='/docente/seleccionar/<%=idasig%>/<%=idpara%>' type="button" class="btn btn-primary" >Realizar otra pregunta</a>
      <br>
    
      <br><br>
      <br>
      <br>
      <a  href='/docente/menu' type="button" class="btn btn-primary" >Terminar clase</a>
    </div>  
  
</div>

<script>
  function goBack() {
      window.history.back();
  }
  </script>
<% include footer %>