<% include header %>

<a href="/docente/crearpreguntaalternativa">Crear Pregunta Alternativa</a>
<br>
<a href="/docente/crearpreguntadicotomica">Crear Pregunta Dicotomica</a>
<br>
<a href="/docente/crearpreguntalikert">Crear Pregunta Escala Likert</a>
<br>
<a href="/docente/editarpreguntalikert">Editar Pregunta Likert</a>
<br>
<a href="/docente/editarpreguntaalternativa">Editar Pregunta Alternativa</a>
<br>
<a href="/docente/editarpreguntadicotomica">Editar Pregunta Dicotomica</a>

<% include linkmenudocente %>
<% include footer %>
