<% include header %>

	<div class="row row-centered">
		<div class="col-sm-8 col-centered">
			<h1> Pregunta EscalaLikeAr <h1>
			<input class="btn btn-default" type="submit" value="Crear Pregunta">
			<input class="btn btn-default" type="button" value="Volver" onclick="goBack()">
		</div>
	</div>

<% include footer %>